<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buy/Sell Listing Website</title>

     <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/newItem.scss"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/favorite.css"/>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  
    <title>User Favorites</title>
</head>
  
<body>
  <%- include('partials/_header') %>
  <h1>User Favorites</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
              <tr>
                  <td><%= item.title %></td>
                  <td><%= item.description %></td>
                  <td><%= item.price %></td>
                  <td><img src="<%= item.img_url %>" alt="<%= item.title %>"></td>
                  <td><%= item.availability %></td> <!-- Display availability -->
              </tr>
          <% }) %>
      </tbody>
    </table>
</div>

</body>

</html>
