<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buy/Sell Listing Website</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

<div class="container">
  <h1>Product List</h1>
  <form action="/" method="POST">
    <label for="minPrice">Minimum Price:</label>
    <input type="number" id="minPrice" name="minPrice" placeholder="Minimum Price">

    <label for="maxPrice">Maximum Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" placeholder="Maximum Price">

    <button type="submit">Filter</button>
</form>

  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.status ? 'Available' : 'Not Available' %></td>
                <td><img src="<%= product.img_url %>" alt="<%= product.title %>"></td>
            </tr>
        <% }); %>
    </tbody>

    </table>
</div>

</body>

</html>
