<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buy/Sell Listing Website</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>


  <script type = "text/javascript" src="/scripts/addToFavorites.js"></script>


</head>

<body>

  <%- include('partials/_header') %>

<div class="container">
  <h1>Product List</h1>
  <div>
    <span id="messagebtn"></span>
  </div>
  <form action="/" method="POST">
    <label for="minPrice">Minimum Price:</label>
    <input type="number" id="minPrice" name="minPrice" placeholder="Minimum Price">

    <label for="maxPrice">Maximum Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" placeholder="Maximum Price">

    <button type="submit">Filter</button>
</form>

  <table>
    <thead>
        <tr> 
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.status ? 'Available' : 'Not Available' %></td>
                <td><img src="<%= product.img_url %>" alt="<%= product.title %>"></td>
                <td>
                  <button class="message-admin-btn" id="<%= product.itemid %>">Message Admin</button>
                </td>
            </tr>
        <% }); %>
    </tbody>

    </table>
</div>

</body>

</html>

<div class="container">
  <h1>Product List</h1>
  <form action="/" method="POST">
    <label for="minPrice" class="formText">Minimum Price:</label>
    <input type="number" id="minPrice" name="minPrice" placeholder="Minimum Price" class="formText">

    <label for="maxPrice" class="formText">Maximum Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" placeholder="Maximum Price" class="formText">

    <button type="submit">Filter</button>
</form>

  <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
          <% console.log(product) %>
            <tr <% if (!product.status) { %> class="sold-out" <% } %>>
                <td><%= product.title %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.status ? 'Available' : 'Not Available' %></td>
                <td <% if (!product.status) { %> class="sold-out-image" <% } %>>
                  <img src="<%= product.img_url %>" alt="<%= product.title %>" class="product-image">
                </td>
                <% if (user) { %>
                <td><form id="favoriteForm" action="/favorite2" method="POST">
                  <input type="hidden" name="favorited" value="<%= product.itemid %>">
                  <button type="submit">❤</button>
                </form>
                </td>
                <% } %>
                <!--Delete button and sold button should only show for the user that owns the product-->
                <% if (user === product.userid) { %>
          
                <td><form action="/delete" method="POST">
                  <input type="hidden" name="productID" value="<%= product.itemid %>">
                  <button type="submit">Delete</button>
                </form>
                </td>
            
                <!-- Sold Button -->
                <td>
                <% if (product.status) { %>
                  <form action="/sold" method="POST">
                    <input type="hidden" name="productID" value="<%= product.itemid %>">
                    <button type="submit">Sold</button>
                  </form>
                <% }} %>
                </td>
            </tr>
        <% }); %>
    </tbody>

    </table>
</div>

</body>

</html>
